.App {
  display: flex;
  flex-direction: row;
}

.itemForm{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.itemForm input{
  width: 200px ;
}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active {
  background-color: lightcoral;
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}